@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Daily ScrumBag</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            background-image: url('/images/forestbridge.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }

        .tplftimg {
            max-height: 15%;
            max-width: 15%;
            position: relative;
            display: flex;
            float: none;
            clear: both;
        }
        
        .md-img {
            max-height: 25%;
            max-width: 25%;
            display: block;
        }
    </style>
</head>
<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <img class="tplftimg" title="The Daily ScrumBag" src="~/images/dailyscrumbagheaderlogowhite.png" alt="The Daily ScrumBag Logo" />
        </div>
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>

            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">35 days left</p>
        </div>
        <div class="w3-display-bottomleft w3-padding-large">
            Powered by <a href="#" target="_blank">Erik Butcher</a>
        </div>
    </div>

</body>
</html>
